  <div class="banner" style="background-image: url('<%= @flat.image %>')"></div>
<div class="container margin-top-negative">
  <div class="flat-show-card">
    <h1><%= @flat.name %></h1>
    <p><%= @flat.address %></p>
  </div>
  <div class="row">
    <div class="col-8">
        <h3>A bit more about this place..</h3>
        <p><%= @flat.description %></p>
    </div>
    <div class="col-4">
      <div class="flat-show-card">
        <h3>Details</h3>
        <i class="fas fa-user-friends"></i>
        <span><%= @flat.number_of_guests %></span>
        <i class="fas fa-euro-sign"></i>
        <span><%= @flat.price_per_night %></span>
      </div>
    </div>
  </div>



</div>